:root {
  --blue-color: #0078e7;
  --red-color: #db2828;
  --gray-color: #999;
  --sunshine-color: #f4d772;
  --hty-secondary-text-color: #555;
  --gradient-start: #db2828;
  --gradient-end: #e13680;
}
/* 云游君的悬浮代码 */
*,
::before,
::after {
  --un-rotate: 0;
  --un-rotate-x: 0;
  --un-rotate-y: 0;
  --un-rotate-z: 0;
  --un-scale-x: 1;
  --un-scale-y: 1;
  --un-scale-z: 1;
  --un-skew-x: 0;
  --un-skew-y: 0;
  --un-translate-x: 0;
  --un-translate-y: 0;
  --un-translate-z: 0;
  --un-ring-offset-shadow: 0 0 rgba(0,0,0,0);
  --un-ring-shadow: 0 0 rgba(0,0,0,0);
  --un-shadow-inset: var(--un-empty, /**/ /**/);
  --un-shadow: 0 0 rgba(0,0,0,0);
  --un-ring-inset: var(--un-empty, /**/ /**/);
  --un-ring-offset-width: 0px;
  --un-ring-offset-color: #fff;
  --un-ring-width: 0px;
  --un-ring-color: rgba(147,197,253,0.5);
}
.hover-text {
  display: block;
  box-sizing: border-box;
  position: relative;
}
.hover-text::before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
  transform: translate3d(10px, 10px, 0);
}
.hover-text::after {
  bottom: 0;
  right: 0;
  border-width: 0 2px 2px 0;
  transform: translate3d(-10px, -10px, 0);
}
.hover-text::before,
.hover-text::after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0;
  border-style: solid;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}
.hover-text:hover::before,
.hover-text:hover::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.hover-a-1 {
  position: relative;
  line-height: 2em;
}
.hover-a-1::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 1px;
  background-color: #000;
  width: 0;
  transition: 0.8s;
}
.hover-a-1:hover::before {
  width: 100%;
}
.my {
  position: absolute;
  z-index: 9;
  bottom: 250px;
  right: 15px;
  width: 10px;
  height: 120px;
  font-size: 0;
  background-color: rgba(141,15,15,0.5);
  transition: width 1.5s;
}
.my:hover {
  width: 100px;
  font-size: 16px;
}
.myA {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  display: block;
  text-align: center;
}
.myA:hover {
  background-color: rgba(141,15,15,0.75);
  color: #000;
}
@media screen and (max-width: 480px) {
  .article-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
